# Predição de Salário - Problema de Regressão
* Este projeto tem por objetivo, efetuar uma predição dos salários para determinados empregos, com base em um conjunto de dados pré-definido.
* O projeto será totalmente executado dentro deste Notebook.

# Carregando as bibliotecas necessárias.

* A seguir será efetuado o carregamento das bibliotecas necessárias para uso no projeto.

In [1]:
import pandas as pd

# Carregando os dados.

* A seguir é efetuado o carregamento dos dados para uso no projeto.

In [2]:
train = pd.read_csv(f'Train.csv')
test = pd.read_csv(f'Test.csv')
valid = pd.read_csv(f'Valid.csv')

# AED (Análise Exploratória de Dados)
* Esta parte do projeto destina-se a análise exploratória de dados, parte importante de um projeto de DataScience. Através dessa primeira análise poderemos ter noções sobre o conjunto de dados que estamos trabalhando e possivelmente formular as primeiras hipóteses.

### Validando as informações dos dataSets.

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244768 entries, 0 to 244767
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Id                  244768 non-null  int64
 1   Title               244767 non-null  object
 2   FullDescription     244768 non-null  object
 3   LocationRaw         244768 non-null  object
 4   LocationNormalized  244768 non-null  object
 5   ContractType        65442 non-null   object
 6   ContractTime        180863 non-null  object
 7   Company             212338 non-null  object
 8   Category            244768 non-null  object
 9   SalaryRaw           244768 non-null  object
 10  SalaryNormalized    244768 non-null  int64
 11  SourceName          244767 non-null  object
dtypes: int64(2), object(10)
memory usage: 22.4+ MB

* Observa-se que existem 244768 linhas nesse dataSet.
* Pode-se observar que temos vários dados faltantes em algumas colunas, são elas : ContractType, ContractTime e Company.

In [22]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122463 entries, 0 to 122462
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Id                  122463 non-null  int64
 1   Title               122463 non-null  object
 2   FullDescription     122463 non-null  object
 3   LocationRaw         122463 non-null  object
 4   LocationNormalized  122463 non-null  object
 5   ContractType        33013 non-null   object
 6   ContractTime        90702 non-null   object
 7   Company             106202 non-null  object
 8   Category            122463 non-null  object
 9   SourceName          122463 non-null  object
dtypes: int64(1), object(9)
memory usage: 9.3+ MB

* Observa-se que existem 122463 linhas nesse dataSet.
* Pode-se observar que temos vários dados faltantes em algumas colunas, são elas : ContractType, ContractTime e Company.

In [23]:
valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40663 entries, 0 to 40662
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  40663 non-null  int64
 1   Title               40663 non-null  object
 2   FullDescription     40663 non-null  object
 3   LocationRaw         40663 non-null  object
 4   LocationNormalized  40663 non-null  object
 5   ContractType        10968 non-null  object
 6   ContractTime        30181 non-null  object
 7   Company             35312 non-null  object
 8   Category            40663 non-null  object
 9   SourceName          40663 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.1+ MB

* Observa-se que existem 40663 linhas nesse dataSet.
* Pode-se observar que temos vários dados faltantes em algumas colunas, são elas : ContractType, ContractTime e Company.

### Verificando duplicidade de dados nos DataSets.

In [19]:
train.Id.unique().size, test.Id.unique().size, valid.Id.unique().size

(244768, 122463, 40663)

* Pode-se verificar que o Id é único em todos os datasets.