<a href="https://colab.research.google.com/github/NophaieViscente/PredictSalary/blob/main/PredictSalary_RegressionProblemExample_Training_Evaluating_Models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Transformação dos dados e Treinamento/Avaliação dos modelos de Aprendizado de Máquina

* Este notebook conterá a parte de treinamento e avaliação dos modelos, bem como transformação de dados caso sejam necessárias.

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Carregamento das bibliotecas necessárias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Carregamento dos dados para treino

In [6]:
train = pd.read_csv('/content/drive/MyDrive/Train_rev2.csv')

### Retirando coluna Unnamed: 0

In [16]:
train.drop('Unnamed: 0', axis=1, inplace=True)

KeyError: ignored

In [17]:
train.head()

         Id  ... SalaryBin
0  12612628  ...         0
1  12612830  ...         1
2  12612844  ...         1
3  12613049  ...         1
4  12613647  ...         0

[5 rows x 16 columns]